.footer {
    padding-top: 49px;
    padding-bottom: 40px;
    background-color: $main-color;
    &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 0;
    }
    &__logo {
        margin-top: 16px;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        margin-top: 16px;
        margin-bottom: 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 4px;
        &__link {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: #ffffff;
            }
        }
    }
    &__divider {
        height: 1px;
        background-color: rgba(255, 255, 255, .3);
        margin-top: 44px;
    }
    &__copyright {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-top: 36px;
    }
}