.nav {
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    &__item {
        margin-left: 46px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__link {
        font-size: 13px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        transition: all .25s;
        &:hover {
            color: $main-color;
        }
    }
}